
.main-page{
    height: auto;
    width: 100%;

}
.main-page-a{
  height: auto;
    margin-bottom: 12rem;

}

.main-page-a img{
    width: 100%;
    height: 400px;
    opacity: 0.3;
    margin-bottom: 3rem;
    margin-top: 2rem;
    position: relative;
}
.title {
    position: absolute;
    top: 10%;
    left: 45%;
    right: 45%;
    font-family: Sans-Serif;
    font-size: 30px;
    color: #2a2828;
}
.us{
    position: absolute;
    background: white;
    height: 300px;
    top: 30%;
    left: 20%;
    right: 20%;

}
.us p{
    margin: 30px 20px 20px 20px;
    font-size: 14px;
    color: #6a6767;
}

@media screen and (max-width:480px){
    .main-page-a{
        height: auto;
        margin-bottom: 20rem;

    }
    .main-page-a img{
        width: 100%;
        height: 250px;
        opacity: 0.3;
        margin-bottom: 3rem;
        margin-top: 1rem;
        position: relative;
    }
    .title {
        position: absolute;
        top: 15%;
        left: 35%;
        right: 35%;
        font-family: Sans-Serif;
        font-size: 25px;
        color: #2a2828;
    }
    .us{
        position: absolute;
        background: white;
        height: auto;
        top: 30%;
        left: 20%;
        right: 20%;


    }
    .us p{
        margin: 30px 20px 20px 20px;
        font-size: 12px;
        color: #6a6767;
    }

}

@media screen and (max-width:420px) {
    .main-page-a{
        height: auto;
        margin-bottom: 20rem;

    }
    .main-page-a img {
        width: 100%;
        height: 250px;
        opacity: 0.3;
        margin-bottom: 3rem;
        margin-top: 1rem;
        position: relative;
    }

    .title {
        position: absolute;
        top: 15%;
        left: 35%;
        right: 35%;
        font-family: Sans-Serif;
        font-size: 25px;
        color: #2a2828;

    }

    .us {
        position: absolute;
        background: white;
        height: auto;
        top: 30%;
        left: 10%;
        right: 10%;

    }

    .us p {
        margin: 30px 20px 20px 20px;
        font-size: 12px;
        color: #6a6767;
    }
}
